body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 1103.41px;
    height: 29.46px;
}
/* .navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
} */
.navbar ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
}
.navbar img {
    height: 29.46px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: auto;
}
.navbar a{
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: Source Sans Pro;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
    float: right;
    margin-bottom: 10px;
    margin-left: 0;
}
/* main {
    max-width: 100%;
    height: auto;
    display: block;
} */
.mainbanner {
    background-image: url(mainbanner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.mainbanner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: -1; /* Place behind the content */
}
#smileschool {
    font-family: Spin-Cycle-OT;
    width: 111.83px;
    height: 12.58px;
}
#mainheader {
    color: white;
    font-family: Source Sans Pro;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
}
.smiles {
    color: white;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    display: block;
    gap: 0;
}
span{
    margin-top: 59px;
    margin-right: 59px;
}
/* span {
    color: white;
    font-family: Source Sans Pro;
    font-size: 16px;
} */
button {
    color: white;
    font-family: Source Sans Pro;
    background-color: #C271FF;
    border-radius: 22px;
    width: 162px;
    height: 44px;
    border-color: #C271FF;
}
.registerforfree {
display: flex;
justify-content: center;
align-items: center;
height: 44px;
margin-top: 38px;
}
#h2_banner {
    font-size: 32px;
    font-family: Source Sans Pro;
    text-align: center;
}
#h2_banner .color1 {
    color: #C271FF;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#h2_banner .color2 {
    color: white;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.pros-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}
.pros {
    background-color: transparent;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    flex: 1 1 calc(25% - 40px);
    margin: 10px;
    color: white;
    font-family: Source Sans Pro;
}
.pros img {
    max-width: 100%;
    border-radius: 50%;
    height: auto;
    width: 150px;
}
.pros h3 {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}
.pros p {
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
}
.Quote {
    color: white;
    font-family: Source Sans Pro;
    background-color: #C271FF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    
}
.quote-container {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
}
.Quote img {
    max-width: 100%;
    border-radius: 50%;
    height: auto;
    width: 150px;
    margin-top: 100px;
    margin-right: 53px;
    margin-bottom: 120px;
}
.Quote blockquote {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
}
.quote-text {
    max-width: 730px;
}
.Quote #person_name {
font-size: 22px;
font-weight: bold;
margin-bottom: 5px;
}
.Quote #weather_presenter {
    font-size: 22px;
    font-style: italic;
}
.videos-container {
    background-color: white;
    font-family: Source Sans Pro;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
}
.videos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 31px;
    padding-bottom: 29px;
} 
.video-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 100%;
    max-width: 294px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#popular-tutorials {
    font-family: Source Sans Pro;
    font-size: 32px;
    margin-bottom: 20px;
}
#popular-tutorials h2 {
    display: inline-block;
    letter-spacing: -1px; 
    word-spacing: -2px;
}
#popular-tutorials .color1 {
color: #C271FF;
margin-left: 2px;
margin-right: 6px;
}
#popular-tutorials .color2 {
    color: black;
    font-weight: normal;
    margin-right: 6px;
}
.video-image {
    position: relative;
    width: 100%;
}
.video-card img {
    width: 100%;
    border-radius: 8px;
}
.play-button-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.play-button-overlay img {
    width: 64px;
    height: 64px;
}
.video-card h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    color: black;
    font-size: 16px;
}
.video-card p {
    font-size: 14px;
    color: #666;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
}
.video-info {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: auto;
    justify-content: center;
}
.video-info .reviewer {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.video-info h4 {
    font-size: 14px;
    color: #C271FF;
    margin-right: 10px;
}
.video-info.stars {
    display: flex;
    margin-right: auto;
    align-items: center;
}
.video-info.stars img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.video-info .duration {
    font-size: 14px;
    color: #666;
}
.membership-container {
    background-color:#071629 ;
    padding: 50px 0;
    text-align: center;
}
#free-membership {
   font-family: Source Sans Pro;
   font-size: 32px; 
   text-align: center;
   padding-top: 70px;
   margin-bottom: 30px;
}
#free-membership .color1 {
color: #C271FF;
margin-left: 2px;
margin-right: 6px;
}
#free-membership .color2 {
color: white;
margin-left: 2px;
margin-right: 6px;
font-weight: normal;
}
.memberships {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
}
.membership {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: Source Sans Pro ;
    width: 257px;
    height: 153px;
    padding-bottom: 85px;
    padding-right: 27px;
}
.membership h3 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 13;
}
.membership p {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    width: 212px ;
}
.membership img {
    width: 43.67px;
    height: 35.35px;
    margin-right: 5px;
}
.FAQ-container {
    background-color: white;
    padding: 50px 20px;
    text-align: center;
    font-family: Source Sans Pro;
}
#faq-header {
    font-size: 60px;
    color: #071629;
    font-weight: lighter;
    margin-bottom: 40px;
}
.faqs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 40px; /* Adjust the gap between the FAQ items */
    max-width: 1200px;
    margin: 0 auto;
}
.faq {
    background-color: white;
    padding: 20px;
    text-align: left;
}
.faq h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.faq p {
    font-size: 14px;
    font-weight: normal;
    color: #666;
    width: 350px;
    height: 192px;
}
footer {
    background-color:#071629;
    width: 100%;
    height: 249px;
    padding: 20px 0;
    text-align: center;
    position: relative;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.footer-left {
display: flex;
align-items: center;
}
.footer-logo {
    display: flex;
    align-items: center;
    width: 169px;
    height: 30px;
    padding-left: 165px ;
    padding-top: 95px ;
    padding-bottom: 124px;;
}
.footer-right {
    display: flex;
    align-items: center;
}
.social-media {
  display: flex;
  gap: 20px;
  color: white;  
}
.footer-bottom {
   position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 12px;
    font-weight: lighter; 
    font-family: Source Sans Pro;
}
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        gap: 20px;
    }
    .footer-bottom {
        position: static;
        transform: none;
        margin-top: 20px;
    }
}